@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .noise:before {
    animation: grain 8s steps(10) infinite;
    background-image: url("http://assets.iceable.com/img/noise-transparent.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    top: -110%;
    width: 300%;
    z-index: -999;
  }

  @keyframes grain {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(-5%, -5%);
    }
    20% {
      transform: translate(-10%, 5%);
    }
    30% {
      transform: translate(5%, -10%);
    }
    40% {
      transform: translate(-5%, 15%);
    }
    50% {
      transform: translate(-10%, 5%);
    }
    60% {
      transform: translate(15%, 0);
    }
    70% {
      transform: translate(0, 10%);
    }
    80% {
      transform: translate(-15%, 0);
    }
    90% {
      transform: translate(10%, 5%);
    }
    100% {
      transform: translate(5%, 0);
    }
  }
}

@layer components {
  .radial-gradient {
    background-image: radial-gradient(
      circle,
      rgba(167, 167, 167, 0.5) 40%,
      rgba(255, 255, 255, 0) 70%
    );
  }
}
